<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="mowangsk,tengattack">
  <meta name="copyright" content="MissEvan">
  <meta name="keywords" content="dollars聊天室,动漫聊天室,missevan聊天室" />
  <meta name="description" content="dollars聊天室,M站是第一家弹幕音图站,同时也是中国声优基地,在这里可以听电台,音乐,翻唱,小说和广播剧,用二次元声音连接三次元." />

  <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">

  <link rel="shortcut icon" href="/images/index/favicon.ico">
  <link rel="bookmark" href="/images/index/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/css/mobile.css?v=20150114">
  <% if (pageStyles && pageStyles.length) {
    for (var i = 0; i < pageStyles.length; i++) { %>
  <link rel="stylesheet" type="text/css" href="<%= pageStyles[i] %>?v=<%= resource.version %>" /><%
    }
  } %>
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/index/144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/index/114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/index/72.png">
  <link rel="apple-touch-icon-precomposed" href="/images/index/57.png">
  <link rel="shortcut icon" href="/images/index/57.png">
  <link rel="shortcut icon" sizes="196x196" href="/images/index/196.png">
  <script src="//hm.baidu.com/hm.js?d4dd9bd2c2f9a6a278c378eda69cd865"></script>
  <script src="/js/zepto.min.js?v=20141006"></script>
  <!-- <script src="/js/motoolmobile.js?v=20141006"></script> -->
  <script type="text/javascript" src="/assets/<%= resource.assets %>/jquery.js"></script>

  <title><%= title %></title>
</head>
<body>
