<!-- 手机顶部 -->
<nav id="nav">
  <div id="nav_left">
    <div id="nl_i"></div>
    <div id="nl_s">M-新闻</div>

    <div id="nl_d" class="nl_d"></div>

    <div id="nav_left_down" style="display: none;">
      <div class="nav_left_list"><a href="http://www.missevan.cn">M-音图</a></div>
      <div class="nav_left_list"><a href="http://news.missevan.cn">M-新闻</a></div>
      <div class="nav_left_list"><a href="http://www.missevan.cn/chat">M-社区</a></div>
    </div>
  </div>
  <div id="nav_right">
    <% if (user) { %>
    <div id="nav_logout"><%= user.username %></div>
    <% } else { %>
    <div id="nav_login">登录</div>
    <% } %>
  </div>
</nav>
