<%- include('../common/header.html'); -%>

<%- include('../common/navbar.html'); -%>
<%- include('../common/nekotop.html'); -%>

<div id="s_m">

  <div id="s_m_l">

    <div class="s_h s_h_i_l_h mt20 pdb30" style="height:1010px;">

      <div class="s_m_l_t">
        <div class="s_m_t_l">小剧场</div>
        <div class="s_m_t_r">
        </div>
      </div>

      <div class="s_h_x s_h_i_l_w s_h_i_l_h pie" style="height:970px;">

        <div class="s_h_m">
          <% if (gekijous && gekijous.length) {
            for (var i = 0; i < gekijous.length; i++) {
              var geki = gekijous[i]; %>
          <div class="s_h_m_h_i c_h_p_c">
            <div class="s_h_m_h_i_o">
              <div class="x"><b class="x2"><%= geki.username %></b></div>
              <a target="_blank" href="/gekijou/view/<%= geki._id %>">
                <img src="<% if (geki.cover) { %><%= geki.cover %><% } else { %>http://static.missevan.cn/coversmini/nocover.png<% } %>">
              </a>
            </div>

            <div class="s_h_m_h_i_b"></div>
            <div class="s_h_m_h_i_t" style="display:none"><%= geki.created_time %></div>
            <div class="s_h_m_h_i_s">
              <a target="_blank" href="/gekijou/view/<%= geki._id %>"><%= geki.title %></a>
            </div>

            <div class="s_h_m_h_i_j" style="overflow: hidden; height: 17px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
              <div class="s_h_m_h_i_j_l">播放: <%= geki.plays %></div>
              <!-- <div class="s_h_m_h_i_j_r">弹幕: 0</div> -->
            </div>
          </div>
          <% }
          } %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <%- include('../common/pagination.html'); -%>
        </div>

      </div>
    </div>

    <div id="s_m_r">

      <div class="s_h s_h_i_r_h" style="height:790px;margin-top:25px;">

        <div class="s_m_r_t" style="margin-bottom:10px;">
          <div class="s_m_t_l" style="position:relative">最热</div>
          <!-- <div class="btn1-group i_album_icon" style="top:3px;">
            <div class="btn1 btn1-default active s_m_t_r_b" style="padding:3px 0px;"><a href="javascript:void(0)">本周</a></div>
            <div class="btn1 btn1-default s_m_t_r_b" style="padding:3px 0px;"><a href="javascript:void(0)">本月</a></div>
				  </div>
          <div class="clear"></div> -->
        </div>

        <div class="s_h_x s_h_i_r_w s_h_i_r_h pie">
          <% if (pop_gekijous && pop_gekijous.length) {
            for (var i = 0; i < pop_gekijous.length; i++) {
              var geki = pop_gekijous[i]; %>
          <div class="s_m_r_c_l c_h_p_c">
            <a target="_blank" href="/gekijou/view/<%= geki._id %>">
              <img src="<% if (geki.cover) { %><%= geki.cover %><% } else { %>http://static.missevan.cn/coversmini/nocover.png<% } %>">
            </a>
          </div>

          <div class="s_m_r_c_r">
            <div class="s_m_r_c_r_s">
              <a target="_blank" href="/gekijou/view/<%= geki._id %>"><%= geki.title %></a>
            </div>
            <div class="s_m_r_c_r_j">
              <div class="s_m_r_c_r_j_l">播放: <%= geki.plays %></div>
              <!-- <div class="s_m_r_c_r_j_r">弹幕: 0</div> -->
            </div>
          </div>
          <% }
          } %>
        </div>

      </div>
    </div>

  </div>
  <div class="clear"></div>

<%- include('../common/soundfooter.html'); -%>
<%- include('../common/loginform.html'); -%>
<script type="text/javascript">
  $(function () {
    index.js.usercomponent();
    play.soundBox.init();
    index.js.loadLeftIcon();
    index.js.loadLeftM();
    index.js.loadIndexTab();
    index.js.loadIndexDm();
  });
</script>
<%- include('../common/footer.html'); -%>
