<%
pageStyles = dev_mode ? [
  '/css/gekijou/build/gekijou.css',
  '/css/gekijou/build/editor.css'
] : [
  '/css/gekijou/gekijou.min.css',
  '/css/gekijou/editor.min.css'
];
%><%- include('../common/header.html'); -%>
<%- include('./sidebar.html'); -%>

  <div id="chatwrap">
    <div id="chattop">
      <!-- inputbox为输入内容窗口-->
      <div id="inputbox">
        <textarea id="inputboxtextarea" class="pie" placeholder="文字,弹幕,音频,中二咒语" maxlength="200"></textarea>
        <div id="inputboxneweventbtn" class="bbtn pie"><span>新 事 件</span></div>
        <!-- <div id="inputboxtextareapostbtn" class="pie"><span>P O S T</span></div> -->

        <div id="soundmusic"><img src="/images/index/music.png" /></div>
      </div>
    </div>

    <div id="chatmain" class="abp">
      <div id="commentCanvas" class="container" style="overflow-y:auto;">
        <div id="chatbox"></div>
        <div id="infobox"></div>
      </div>
    </div>

    <div id="chatmusic" style="display:none;"></div>

    <div id='private'></div>
  </div>

  <div id="user" style="display:none"><%- JSON.stringify(user) %></div>

  <!-- 对话框 -->
  <div id="neweventmodal" class='m_c' data-width="600" style="display:none;">
    <div class="e_t">
      <form id="neweventform">
        <div class="inputgroup">
          <label class="label pie" for="newevent_name">事件名</label>
          <input class="label_input pie" name="newevent[name]" id="newevent_name" type="text">
        </div>
        <div class="inputgroup">
          <label class="label pie" for="newevent_time">事件持续</label>
          <input class="label_input pie" name="newevent[time]" id="newevent_time" type="text" placeholder="毫秒" value="2000">
        </div>
        <div class="formactions">
          <input id="neweventokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="button" value="确定">
        </div>
      </form>
    </div>
  </div>

<%- include('../common/loginform.html'); -%>
  <script type="text/javascript" src="/assets/<%= resource.assets %>/jui/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/chat/chatbox.js"></script>
  <script type="text/javascript" src="/js/chat/chat.desktop.js"></script>
<% if (dev_mode) { %>
  <script type="text/javascript" src="/js/gekijou/build/util.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/event.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/gekijou.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/editor.js"></script>
<% } else { %>
  <script type="text/javascript" src="/js/gekijou/gekijou.min.js?v=<%= resource.version %>"></script>
  <script type="text/javascript" src="/js/gekijou/editor.min.js?v=<%= resource.version %>"></script>
<% } %>
  <script type="text/javascript">
    $(function () {
      var gekijou = new Gekijou();
      var editor = new GekijouEditor(gekijou);
      editor.init();
    });
  </script>
<%- include('../common/footer.html'); -%>
