<%
pageStyles = dev_mode ? [
  '/css/chat/build/bubble.css',
  '/css/gekijou/build/gekijou.css',
  '/css/gekijou/build/editor.css'
] : [
  '/css/chat/bubble.min.css',
  '/css/gekijou/gekijou.min.css',
  '/css/gekijou/editor.min.css'
];
%><%- include('../common/header.html'); -%>
<%- include('./sidebar.html'); -%>

  <div id="chatwrap">
    <div id="chattop">
      <!-- inputbox为输入内容窗口-->
      <div id="inputbox">
        <textarea id="inputboxtextarea" class="pie" placeholder="文字,弹幕,音频,中二咒语" maxlength="200"></textarea>
        <div id="inputboxcmdbox">
          <p data-cmd="/音频 角色 ">/音频 角色 [音频id]</p>
          <p data-cmd="/音频 音效 ">/音频 音效 [音频id]</p>
          <p data-cmd="/音频 背景乐 ">/音频 背景乐 [音频id]</p>
          <p data-cmd="/专辑 ">/专辑 [专辑id]</p>
          <p data-cmd="/状态 ">/状态 [状态]</p>
        </div>
        <!-- <div id="inputboxneweventbtn" class="bbtn pie"><span>新 事 件</span></div> -->
        <div id="inputboxtextareapostbtn" class="pie"><span>P O S T</span></div>

        <div id="soundmusic"><img src="/images/index/music.png" /></div>
        <div id="imagefile"><img id="fileuploadbtn" src="/images/gekijou/editor/insert-image.png"><input type="file" id="image" name="image" style="display:none"></div>
        <div id="extend-input"></div>
      </div>
    </div>

    <div id="chatmain" class="abp">
      <div id="commentCanvas" class="container" style="overflow-y:auto;">
        <div id="chatbox"></div>
        <div id="infobox"></div>
      </div>
    </div>

    <div id="chatmusic" style="display:none;">
      <div id="soundtype" class="inputgroup">
        <label class="label pie lsection" for="sound_type">类型</label>
        <input type="radio" name="sound_type" id="rd_sound_chara" value="chara" checked> <label class="label-radio" for="rd_sound_chara">角色音</label>
        <input type="radio" name="sound_type" id="rd_sound_effect" value="effect"> <label class="label-radio" for="rd_sound_effect">音效</label>
        <input type="radio" name="sound_type" id="rd_sound_background" value="background"> <label class="label-radio" for="rd_sound_background">背景乐</label>
      </div>
      <div class="clear"></div>
    </div>

    <div id='private'></div>
  </div>

  <div id="user" data-user="<%= JSON.stringify(user) %>" style="display:none"></div>

  <!-- 对话框 -->
  <div id="neweventmodal" class='m_c' data-width="600" style="display:none;">
    <div class="e_t">
      <form id="neweventform" class="modalform">
        <div class="inputgroup">
          <label class="label pie lsection" for="newevent_name">事件名</label>
          <input class="label_input pie" name="newevent[name]" id="newevent_name" type="text">
        </div>
        <div class="inputgroup">
          <label class="label pie lsection" for="newevent_time">事件持续</label>
          <input class="label_input pie" name="newevent[time]" id="newevent_time" type="text" placeholder="毫秒" value="2000">
        </div>
        <div class="formactions">
          <input id="neweventokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="submit" value="确定">
        </div>
      </form>
    </div>
  </div>

  <div id="editeventmodal" class='m_c' data-width="600" style="display:none;">
    <div class="e_t">
      <form id="editeventform" class="modalform">
        <div class="inputgroup">
          <label class="label pie lsection" for="editevent_name">事件名</label>
          <input class="label_input pie" name="editevent[name]" id="editevent_name" type="text">
        </div>
        <div class="inputgroup">
          <label class="label pie lsection" for="editevent_time">事件持续</label>
          <input class="label_input pie" name="editevent[time]" id="editevent_time" type="text" placeholder="毫秒" value="2000">
        </div>
        <div class="formactions">
          <input id="editeventokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="submit" value="确定">
          <input id="editeventdelbtn" class="formbtn boxbtn pie btn delbtn" style="float:right;" type="button" value="删除">
        </div>
      </form>
    </div>
  </div>

  <div id="newcharamodal" class='m_c' data-width="600" style="display:none;">
    <div class="e_t">
      <form id="newcharaform" class="modalform">
        <div id="newchara_user" style="display:none"></div>
        <div class="inputgroup">
          <label class="label pie lsection" for="newchara_username">用户名</label>
          <input class="label_input pie" name="newchara[username]" id="newchara_username" type="text">
        </div>
        <div class="inputgroup">
          <label class="label pie lsection" for="newchara_subtitle">称号</label>
          <input class="label_input pie" name="newchara[subtitle]" id="newchara_subtitle" type="text" placeholder="可选">
        </div>
        <div class="inputgroup">
          <label class="label pie lsection">显示位置</label>
          <input type="radio" name="rd_chara_showon" id="cb_chara_showon_left" value="left" checked><label class="label pie label-radio" for="cb_chara_showon_left">左</label>
          <input type="radio" name="rd_chara_showon" id="cb_chara_showon_right" value="right"><label class="label pie label-radio" for="cb_chara_showon_right">右</label>
        </div>
        <div class="formactions">
          <input id="newcharaokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="submit" value="确定">
        </div>
      </form>
    </div>
  </div>

  <div id="imagemodal" class='m_c' data-width="600" style="display:none;">
    <div class="e_t">
      <form id="imageform" class="modalform">
        <div class="inputgroup">
          <label class="label pie lsection" for="img_upload_progress">进度</label>
          <span class="label-radio" id="img_upload_progress">0%</span>
        </div>
        <div class="inputgroup">
          <label class="label pie lsection" for="img_type">类型</label>
          <input type="radio" name="img_type" id="rd_img_chat" value="chat" checked> <label class="label-radio" for="rd_img_chat">聊天流</label>
          <input type="radio" name="img_type" id="rd_img_background" value="background"> <label class="label-radio" for="rd_img_background">背景</label>
          <!-- <input type="radio" name="img_type" id="rd_img_nochara" value="nochara"> <label class="label-radio" for="rd_img_nochara">状态图</label> -->
        </div>
        <div class="formactions">
          <input id="imageokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="submit" value="确定">
        </div>
      </form>
    </div>
  </div>

  <div id="settingsmodal" class='m_c' data-width="600" style="display:none;">
    <div class="e_t">
      <form id="settingsform" class="modalform">
        <div class="inputgroup">
          <input type="checkbox" name="gekijou[showname]" id="cb_show_name" checked>
          <label class="label pie label-radio" for="cb_show_name">显示名称</label>
        </div>
        <div class="inputgroup">
          <input type="checkbox" name="gekijou[instantshow]" id="cb_instant_show">
          <label class="label pie label-radio" for="cb_instant_show">立即展示</label>
        </div>
        <div class="formactions">
          <input id="settingsokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="submit" value="确定">
        </div>
      </form>
    </div>
  </div>

  <div id="savemodal" class='m_c' data-width="800" style="display:none;">
    <div class="e_t">
      <form id="saveform" class="modalform">
        <input type="hidden" name="gekijou[_id]" id="gekijou_id"<% if (gekijou) { %> value="<%= gekijou._id %>"<% } %>>
        <div class="inputgroup">
          <label class="label pie lsection" for="gekijou_title">标题</label>
          <input class="label_input pie" name="gekijou[title]" id="gekijou_title" type="text"<% if (gekijou) { %> value="<%= gekijou.title %>"<% } %>>
        </div>
        <div class="inputgroup">
          <label class="label pie lsection" for="gekijou_intro">介绍</label>
          <textarea rows="6" cols="50" name="gekijou[intro]" id="gekijou_intro"><% if (gekijou) { %><%= gekijou.intro %><% } %></textarea>
          <div class="clear"></div>
        </div>
        <div class="formactions">
          <input id="gekijouokbtn" class="formbtn boxbtn pie btn" style="float:right;" type="submit" value="保存">
          <input id="gekijoudelbtn" class="formbtn boxbtn pie btn delbtn" style="float:right;<% if (!gekijou) { %>display:none;<% } %>" type="button" value="删除">
          <a id="gekijoupreviewbtn" class="formbtn boxbtn pie btn" href="/gekijou/view/<% if (gekijou) { %><%= gekijou._id %><% } %>" target="_blank" style="float:right;<% if (!gekijou) { %>display:none;<% } %>">预览</a>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/assets/<%= resource.assets %>/jui/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/chat/jquery.fileupload.js"></script>
  <script type="text/javascript" src="/js/chat/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="/js/chat/chatbox.js"></script>
  <script type="text/javascript" src="/js/chat/chat.desktop.js"></script>
  <% if (gekijou) { %><script id="gekijouscript" data-id="<%= gekijou._id %>" type="text/gekijouscript">
<%= gekijou.script %>
  </script><% } %>
<% if (dev_mode) { %>
  <script type="text/javascript" src="/js/chat/build/bubble.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/util.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/event.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/chara.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/album.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/sound.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/gekijou.js"></script>
  <script type="text/javascript" src="/js/gekijou/build/editor.js"></script>
<% } else { %>
  <script type="text/javascript" src="/js/chat/bubble.min.js?v=<%= resource.version %>"></script>
  <script type="text/javascript" src="/js/gekijou/gekijou.min.js?v=<%= resource.version %>"></script>
  <script type="text/javascript" src="/js/gekijou/editor.min.js?v=<%= resource.version %>"></script>
<% } %>
  <script type="text/javascript">
    $(function () {
      var gekijou = new Gekijou();
      var editor = new GekijouEditor(gekijou);
      editor.init();
    });
  </script>
<%- include('../common/footer.html'); -%>
