#m {
  background: none;
  box-shadow: none;

  width: auto;
  height: auto;

  #mp {
    width: 130px;
    height: 500px;

    min-width: 130px;

    padding: 50px 0 126px 70px;
  }

  .mpb {
    height: 500px;
  }

  .mpo {
    cursor: pointer;
  }

  .mppl, .mpl, .mpo, .mpfo {
    width: 3px;

    /* position */
    top: initial;
    bottom: 0;
  }

  .mplr {
    right: -6px;
    pointer-events: auto;
  }

  .mpo, .mpfo {
    height: 100%;
  }

  /* 事件列表 */
  .mpfo {
    top: initial;

    padding: 0 10px;
    left: -10px;

    .mpfs {
      position: absolute;
      top: -6px;
      width: 3px;
      height: 100%;
    }

    .mpf {
      top: initial;
      margin-left: 0;
      border: none;
      pointer-events: auto;
    }

    .mpfl {
      margin-left: -10px;
      border: 6px solid transparent;
      border-left-color: white;
    }

    .mpfi {
      top: -8px;
      left: 18px;
      padding: 5px;
      line-height: 18px;
      /* width: 80px; */
      width: auto;
      max-width: 80px;
      height: 18px;
      overflow: hidden;

      span {
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 80px;
      }
    }
  }

  /* 播放暂停按钮 */
  #mpi {
    top: initial;
    bottom: 14px;
  }

  #mpiloop {
    top: initial;
    bottom: 26px;
  }
}

.toolbar {
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 31;

  .mpc {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;

    width: auto;
    height: auto;

    padding: 15px 10px;

    /* border */
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px 0 0 8px;

    background: #000;

    > li {
      float: none;
      margin: 15px 0 0 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  /* toolbar */
  .mpcfu, .mpsvo {
    top: -5px;
    right: 30px;
  }

  .mpcfu, .mpsvo, .mpsvb {
    width: 100px;
    height: 28px;
  }

  .mpsvb {
    height: auto;
    top: 12px;
  }

  .mpcfu .mpcfl {
    margin: 5px 0;
  }

  .mpsvbo, .mpsvbl {
    height: 4px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;
  }

  .mpsvblr {
    top: -4px;
    right: 100%;
  }

  .sidetext {

    position: absolute;
    display: block;

    color: white;

    padding: 0 3px;
    width: 19px;
    font-size: 18px;
    /* font-weight: 700; */
    line-height: 22px;

    text-align: center;

    cursor: pointer;
  }
}

.toolbar#chara-toolbar {
  top: 210px;
  bottom: initial;
}

#charamodal {
  /* display: none; */
  width: 500px;
  height: auto;
  margin-left: 35px;
  margin-right: -510px;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;

  transition: all .3s ease;
}

.charabox, .charaicon {
  display: inline-block;
  text-align: center;

  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;

  transition: background .3s ease;

  &:hover {
    background: #aaa;
  }

  .chaticonbox {
    margin: 0;
  }
}

.charabox {
  width: 69px;
  height: 105px;
  margin-right: 10px;
  overflow: hidden;

  .chatusername, .chatsubtitle {
    width: auto;
    height: 18px;
  }
}

.charabox.selected {
  border: 1px solid white;
}

.expandqube {

  display: inline-block;
  border: 6px solid transparent;
  border-right-color: #fff;
  width: 0;
  height: 0;
  margin-right: 5px;

  transition: all .3s ease;
}

.showmodal {
  #charamodal {
    display: block;
    margin-right: 0;
    max-height: 550px;
  }
  .sidetext {
  }
  .expandqube {
    transform: rotate(-180deg);
    margin-right: -8px;
  }
}

#mpisave {
  position: absolute;
  left: 160px;
  bottom: 21px; /* 26 - 5 */
  padding: 5px;
}

.textbtn {
  color: #fff;
  cursor: pointer;
  line-height: 18px;
  height: 18px;
  font-size: 14px;
  text-align: center;

  border-radius: 5px;
  transition: background .3s ease;

  &:hover {
    background: #444;
  }
}
