<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="mowangsk,tengattack">
  <meta name="copyright" content="MissEvan">
  <meta name="keywords" content="dollars聊天室,动漫聊天室,missevan聊天室" />
  <meta name="description" content="dollars聊天室,M站是第一家弹幕音图站,同时也是中国声优基地,在这里可以听电台,音乐,翻唱,小说和广播剧,用二次元声音连接三次元." />

  <link rel="shortcut icon" href="/images/index/favicon.ico" />
  <link rel="bookmark" href="/images/index/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/index.min.css?v=<%= resource.version %>" />
  <% if (pageStyles && pageStyles.length) {
    for (var i = 0; i < pageStyles.length; i++) { %>
  <link rel="stylesheet" type="text/css" href="<%= pageStyles[i] %>?v=<%= resource.version %>" /><%
    }
  } %>

  <script type="text/javascript" src="/assets/<%= resource.assets %>/jquery.js"></script>

  <title><%= title %></title>
</head>
<body class="desktop">
