<div id="t" class="pie">
  <div id="t_b" class="pie">
    <div class="t_i">
      <a target="_self" href="http://www.missevan.cn/"><img title="M站首页" alt="M站首页" src="/images/index/31.png"></a>
    </div>

    <div class="t_h t_h_l t_h_l_h">
      <a target="_self" href="http://www.missevan.cn">M站</a>
    </div>

    <div class="t_h t_h_l ">
      <a target="_self" href="http://news.missevan.cn">M新闻</a>
    </div>

    <div class="t_h t_h_l ">
      <a target="_self" href="http://dollars.missevan.cn">M社区</a>
    </div>

    <div class="t_h t_h_l">
      <a target="_blank" href="http://www.missevan.cn/app">手机客户端</a>
    </div>

    <div class="t_h t_h_l">
      <a target="_self" href="http://www.missevan.cn/msound/create">投稿</a>

      <div class="t_h_l_b t_h_l_b_2 pie" style="display: none;">
        <div class="t_h">
          <a target="_self" href="http://www.missevan.cn/msound/create">上传声音</a>
        </div>
        <div class="t_h">
          <a target="_self" href="http://www.missevan.cn/mimage/create">上传图片</a>
        </div>
        <div class="t_h">
          <a target="_self" href="http://www.missevan.cn/sound/14592">上传帮助</a>
        </div>
        <div class="t_h">
          <a target="_self" href="http://www.missevan.cn/sound/21408">头像说明</a>
        </div>
      </div>
    </div>

    <% if (user) { %>
    <div id="t_p">
      <a target='_blank' href="/<%= user.user_id %>">
        <%= user.username %> NO.<%= user.user_id %> <img src='/images/index/toppointer1.png'/>
      </a>

      <div class="t_h_l_b pie" style="display:none;">
        <div class="t_h">
          <a target='_self' href="/<%= user.user_id %>">个人主页</a>
        </div>
        <div class="t_h">
          <a target='_self' href="/person/msg?mtype=1&userid=<%= user.user_id %>">站内信</a>
        </div>
        <div class="t_h">
          <a target='_self' href="/person/task?ttype=1&userid=<%= user.user_id %>">猫耳</a>
        </div>
        <div class="t_h">
          <a target='_self' href="/member/logout">退出</a>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="t_h t_h_r">
      <a href="/member/login?backurl=/chat/">登录/注册</a>
    </div>
    <% } %>

    <div id="t_s">
      <form action="http://www.missevan.cn/sound/search" method="get">
        <button id="t_s_i" type="submit"></button>
        <input id="t_s_input" name="s" type="text" value="" placeholder="搜索音频、声优、专辑、用户" maxlength="50">
      </form>
    </div>

    <div class="t_h t_h_r">
      <a target="_self" href="http://www.missevan.cn/explore">发现</a>
    </div>

  </div>
</div>
