<div id="t" class="pie">
  <div id="t_b" class="pie">
    <div class="t_i">
      <a target="_self" href="http://www.missevan.cn/"><img title="M站首页" alt="M站首页" src="/images/index/31.png"></a>
    </div>

    <div class="t_h t_h_l t_h_l_h">
      <a target="_self" href="http://www.missevan.cn">M站</a>
    </div>

    <div class="t_h t_h_l ">
      <a target="_self" href="http://news.missevan.cn">M新闻</a>
    </div>

    <div class="t_h t_h_l ">
      <a target="_self" href="http://dollars.missevan.cn">M社区</a>
    </div>

    <div class="t_h t_h_l ">
      <a target="_self" href="http://www.missevan.cn/gekijou">M剧场</a>
    </div>

    <div class="t_h t_h_l">
      <a target="_blank" href="http://www.missevan.cn/app">手机客户端</a>
    </div>

    <div class="t_h t_h_l">
      <a id="tougao" target="_self" href="http://www.missevan.cn/msound/create">投稿</a>
      <div class="t_h_l_b t_h_l_b_2 pie" style="display:none;">
        <div class="t_h_ar2"></div>
        <div class="t_h_ho"></div>

        <div class="t_h_t">我要投稿</div>
        <div class="t_h t_h_fl">
          <a target='_self' href="http://www.missevan.cn/msound/create">声音投稿</a>
        </div>
        <div class="t_h t_h_fl">
          <a target='_self' href="http://www.missevan.cn/mimage/create">图片投稿</a>
        </div>
        <div class="t_h t_h_fl">
          <a target='_self' href="/gekijou/new">小剧场投稿</a>
        </div>
        <div class="clear"></div>
        <div class="t_h_t">投稿教程</div>
        <div class="t_h t_h_fl">
          <a target='_self' href="http://www.missevan.cn/sound/14592">如何插图</a>
        </div>
        <div class="t_h t_h_fl">
          <a target='_self' href="http://www.missevan.cn/sound/21408">头像规格</a>
        </div>
        <div class="clear"></div>
        <div class="t_h_t">近期活动</div>
        <div class="t_h t_h_fl">
          <a target='_self' href="http://www.missevan.cn/mevent/list">活动列表</a>
        </div>
      </div>
    </div>

    <% if (user) { %>
    <div id="t_p">
			<a target="_blank" href="http://www.missevan.cn/10">
				<img <% if (user.iconurl) { %>src="<%= user.iconurl %>"<% } else { %>src="/images/index/toppointer1.png"<% } %> />
				<span> <%= user.username %></span>
			</a>

			<div class="t_h_l_b pie" style="display:none;">
			  <div class="t_h_ar"></div>
			  <div class="t_h_ho"></div>


			  <div class="t_h_t">M号: <%= user.id %>, 猫耳: <span id='t_h_m'>0</span></div>
				<div class="t_h t_h_fl">
					<a target='_self' href="/<%= user.id %>">个人主页</a>
				</div>
				<div class="t_h t_h_fl">
					<a target='_self' href="/person/msg?mtype=1&userid=<%= user.id %>">站内信</a>
				</div>
				<div class="t_h t_h_fl">
					<a target='_self' href="/person/task?ttype=1&userid=<%= user.id %>">每日任务</a>
				</div>
			    <div class="t_h t_h_fl">
					<a target='_self' href="/member/exam">答题升级</a>
				</div>
				<div class="t_h t_h_fl">
					<a target='_self' href="/member/logout">退出</a>
				</div>
			</div>
    </div>
    <% } else { %>
    <div class="t_h t_h_r">
      <a href="/member/login?backurl=<%= request.originalUrl %>">登录/注册</a>
    </div>
    <% } %>

    <div id="t_s">
      <form action="http://www.missevan.cn/sound/search" method="get">
        <button id="t_s_i" type="submit"></button>
        <input id="t_s_input" name="s" type="text" value="" placeholder="搜索音频、声优、专辑、用户" maxlength="50">
      </form>
    </div>

    <div class="t_h t_h_r">
      <a target="_self" href="http://www.missevan.cn/explore">发现</a>
    </div>

  </div>
</div>
