<% if (pagination) { %>
<ul class="pagelist" id="catalogpagelink">
  <% if (pagination.first.display) { %><li class="first"><a href="<%= pagination.first.url %>">&lt;&lt; 首页</a></li><% } %>
  <% if (pagination.previous.display) { %><li class="previous"><a href="<%= pagination.previous.url %>">&lt; 前页</a></li><% } %>
  <% for (var i = 0; i < pagination.page.length; i++) {
    var pa = pagination.page[i]; %>
  <li class="page<% if (pa.selected) {%> selected<% } %>"><a href="<%= pa.url %>"><%= pa.page %></a></li><% } %>
  <% if (pagination.next.display) { %><li class="next"><a href="<%= pagination.next.url %>">后页 &gt;</a></li><% } %>
  <% if (pagination.last.display) { %><li class="last"><a href="<%= pagination.last.url %>">末页 &gt;&gt;</a></li><% } %>
</ul>
<div class="clear"></div>
<% } %>
