<ul class="pagelist" id="catalogpagelink">
  <li class="first hidden"><a href="/sound/m?id=33">&lt;&lt; 首页</a></li>
  <li class="previous hidden"><a href="/sound/m?id=33">&lt; 前页</a></li>
  <li class="page selected"><a href="/sound/m?id=33">1</a></li>
  <li class="page"><a href="/sound/m?id=33&amp;p=2">2</a></li>
  <li class="page"><a href="/sound/m?id=33&amp;p=3">3</a></li>
  <li class="page"><a href="/sound/m?id=33&amp;p=4">4</a></li>
  <li class="page"><a href="/sound/m?id=33&amp;p=5">5</a></li>
  <li class="next"><a href="/sound/m?id=33&amp;p=2">后页 &gt;</a></li>
  <li class="last"><a href="/sound/m?id=33&amp;p=9">末页 &gt;&gt;</a></li>
</ul>
<div class="clear"></div>
