<div id="soundfooter">
  <div id="soundfooterimg" class="pie"></div>
  <div id="soundfooterbar" class="pie">
    <div id="soundfooterinfo">
      <div class="powered">
        <div class="poweredtitle">友情链接</div>
        <div class="newslink">
          <a target="_blank" href="http://news.missevan.cn">
            <img class="lazy" src="http://static.missevan.cn/links/201312/a8921b5f42b619f807815adba7a02dc0225658.png" width="88px" height="31px" title="MissEvan动漫新闻网" alt="MissEvan动漫新闻网" data-original="http://static.missevan.cn/links/201312/a8921b5f42b619f807815adba7a02dc0225658.png" style="display: inline;">
          </a>
        </div>

        <div class="newslink">
          <a target="_blank" href="http://nyato.com/">
            <img class="lazy" src="http://static.missevan.cn/boardimgs/2014/04/26/13984808635187.gif" width="88px" height="31px" title="Nyato喵特网" alt="Nyato喵特网" data-original="http://static.missevan.cn/boardimgs/2014/04/26/13984808635187.gif" style="display: inline;">
          </a>
        </div>

        <div class="newslink">
          <a target="_blank" href="http://bcy.net/">
            <img class="lazy" src="http://static.missevan.cn/boardimgs/2014/10/17/bcy.png" width="88px" height="31px" title="半次元cosplay频道" alt="半次元cosplay频道" data-original="http://static.missevan.cn/boardimgs/2014/10/17/bcy.png" style="display: inline;">
          </a>
        </div>

        <div class="newslink">
          <a target="_blank" href="http://moe.hao123.com/">
            <img class="lazy" src="http://static.missevan.cn/links/201411/d6fd2530c7f896d089f089f1543ac236202650.png" width="88px" height="31px" title="hao123萌主页" alt="hao123萌主页" data-original="http://static.missevan.cn/links/201411/d6fd2530c7f896d089f089f1543ac236202650.png" style="display: inline;">
          </a>
        </div>
      </div>

      <div class="powered">
        <div class="poweredtitle">关于我们</div>
        <div class="poweredbody">官方微博 <a target="_blank" hidefocus="true" href="http://weibo.com/missacg">关注M站微博</a></div>
        <div class="poweredbody">官方YY频道 <a target="_blank" hidefocus="true" href="yy://join:room_id=409712">409712</a></div>
        <div class="poweredbody">联系邮箱 <a hidefocus="true" onclick="javascript:void(0);return false;" href="#">mowangsk@missevan.cn</a></div>
        <div class="poweredbody">苏ICP备13056586号-1</div>
      </div>
    </div>
  </div>
</div>
