<div id="soundfooter">
  <div id="soundfooterimg" class="pie"></div>
  <div id="soundfooterbar" class="pie" style="padding-top:40px;">
    <div id="soundfooterinfo" style="width:1200px;">
    
    <div id="boardreplybody71608" class="boardreplybody">
      <div class="boardarrow1" style="margin-top:55px;left:84px;"></div>
      <div class="boardarrow2" style="border-right-color:#343434;margin-top:55px;left:91px;"></div>
      <div class="boardreplyicon" style="margin-top:45px;margin-right:20px;">
        <div class="boardiconbox pie" style="width:80px;height:80px;">
          <a href="javascript:void(0)">
            <img src="http://static.missevan.cn/mimages/201501/16/389141afe72a20bff448c230d1c93342202121.png" width="80px" height="80px">
          </a>
        </div>
      </div>
    
      <div class="boardreplyvalueout" style="width:860px;">
        <div class="boardreplyvalue pie" style="background-color: #343434;">
    
        <div class="video-box" style="width:1000px;box-shadow:none;">
        
          <div class="powered" style="margin:5px 40px 0px 30px;width:180px;">
            <div class="poweredtitle">网站功能</div>
            <div class="poweredbody"><a target="_blank" hidefocus="true" href="http://www.missevan.cn/mfeedback/create" style="color:#fff;">建议与反馈</a></div>
            <div class="poweredbody"><a target="_blank" hidefocus="true" href="http://www.missevan.cn/app" style="color:#fff;">APP下载 </a></div>
            <div class="poweredbody"><a target="_blank" hidefocus="true" href="http://www.missevan.cn/duty" style="color:#fff;">用户协议</a></div>
            <div class="poweredbody"><a target="_blank" hidefocus="true" href="http://www.missevan.cn/explore" style="color:#fff;">探索与发现</a></div>
          </div>
              
          
          <div class="powered" style="margin:5px 40px 0px 10px;width:180px;">
            <div class="poweredtitle">关于我们</div>
            <div class="poweredbody"><a target="_blank" hidefocus="true" href="http://www.missevan.cn/contact">联系我们</a></div>                 
            <div class="poweredbody"><a target="_blank" hidefocus="true" href="http://baike.baidu.com/view/5794982.htm">百度百科</a></div>
            <div class="poweredbody">苏ICP备:</div>
            <div class="poweredbody">13056586号-1</div>
          </div>
            
          <div class="powered" style="margin:5px 40px 0px 10px;width:233px;">
            <div class="poweredtitle">友情链接</div>
            <div class="newslink">
              <a target="_blank" href="http://news.missevan.cn">
                <img class="lazy" src="http://static.missevan.cn/links/201312/a8921b5f42b619f807815adba7a02dc0225658.png" width="88px" height="31px" title="MissEvan动漫新闻网" alt="MissEvan动漫新闻网" data-original="http://static.missevan.cn/links/201312/a8921b5f42b619f807815adba7a02dc0225658.png" style="display: inline;">
              </a>          
            </div>
            
            <div class="newslink">
              <a target="_blank" href="http://nyato.com/">
                <img class="lazy" src="http://static.missevan.cn/boardimgs/2014/04/26/13984808635187.gif" width="88px" height="31px" title="Nyato喵特网" alt="Nyato喵特网" data-original="http://static.missevan.cn/boardimgs/2014/04/26/13984808635187.gif" style="display: inline;">
              </a>
            </div>
            
            <div class="newslink">
              <a target="_blank" href="http://bcy.net/">
                <img class="lazy" src="http://static.missevan.cn/boardimgs/2014/10/17/bcy.png" width="88px" height="31px" title="半次元cosplay频道" alt="半次元cosplay频道" data-original="http://static.missevan.cn/boardimgs/2014/10/17/bcy.png" style="display: inline;">
              </a>
            </div>
            
            <div class="newslink">
              <a target="_blank" href="http://moe.hao123.com/">
                <img class="lazy" src="http://static.missevan.cn/links/201411/d6fd2530c7f896d089f089f1543ac236202650.png" width="88px" height="31px" title="hao123萌主页" alt="hao123萌主页" data-original="http://static.missevan.cn/links/201411/d6fd2530c7f896d089f089f1543ac236202650.png" style="display: inline;">
              </a>
            </div>
          </div>
        
          <div class="powered" style="margin:5px 20px 0px 50px;width:150px;">
            <div style="float:left;width:100px;">
              <a id="" target="_blank" href="javascript:void(0)"><img width="120px" height="120px" src="/images/index/appcode.png"></a>
              <a style="font-size: 14px;color: #000;margin-left:24px;color:#fff;" target="_blank" href="javascript:void(0)">APP下载</a>
            </div>
          </div>
        
        </div>
        
        </div>
      </div>
      <div class="clear"></div>
    </div>

    </div>
  </div>
</div>