<%- include('../common/header.html'); -%>
  <style>
    #chattop, .privateinputbox {
    }
    #chattop.in, .privateinputbox.in {
    }
    #chattop.hover, .privateinputbox.hover {
      background: #0266C8;
    }
    #chattop.fade, .privateinputbox.fade {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      opacity: 1;
    }
    #imagefile {
      position:absolute;top:25px;right:36px;cursor:pointer;padding:3px;
    }
    .privateinputbox #imagefile {
      top: 60px;
      right: 60px;
    }
  </style>
  <div id="chatwrap">
    <div id="chattop">
      <!-- inputbox为输入内容窗口-->
      <div id="inputbox">
        <textarea id="inputboxtextarea" class="pie" placeholder="文字,弹幕,音频,中二咒语" maxlength="200"></textarea>
        <div id="inputboxtextareapostbtn" class="pie"><span>P O S T</span></div>

        <div id="soundmusic"><img src="/images/index/music.png" /></div>
        <div id="imagefile"><img id="fileuploadbtn" src="/images/backend/insert.png" /><input type="file" id="image" name="image" style="display:none" /></div>
      </div>
    </div>

    <div id="chatmain" class="abp">
      <div id="commentCanvas" class="container" style="overflow-y:auto;">
        <div id="chatbox"></div>
        <div id="infobox"></div>
      </div>
    </div>

    <div id="chatmusic" style="display:none;"></div>

    <div id='private'></div>
  </div>

  <div id="info" style="display:none">{"roomId":"<%= roomId %>","userId":<%= user ? user.id : 0 %>}</div>
  <div id="user" style="display:none"><%- JSON.stringify(user) %></div>

<%- include('../common/loginform.html'); -%>
  <script type="text/javascript" src="/assets/<%= resource.assets %>/jui/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/chat/jquery.fileupload.js"></script>
  <script type="text/javascript" src="/js/chat/jquery.iframe-transport.js"></script>
  <script type="text/javascript">
    var chatSocketUrl = '<%= chatSocketUrl %>';
  </script>
  <script type="text/javascript" src="/js/chat/chatbox.js"></script>
  <script type="text/javascript" src="/js/chat/client.js"></script>
  <script type="text/javascript" src="/js/chat/chat.js"></script>
  <script type="text/javascript" src="/js/chat/chat.desktop.js"></script>
  <script type="text/javascript">
    $(function() {
      loadChat();
    });
  </script>
<%- include('../common/footer.html'); -%>
