<%- include('../common/header.html'); -%>

  <div id="chatwrap">
    <div id="chattop">
      <!-- inputbox为输入内容窗口-->
      <div id="inputbox">
        <textarea id="inputboxtextarea" class="pie" placeholder="文字,弹幕,音频,中二咒语" maxlength="200"></textarea>
        <div id="inputboxtextareapostbtn" class="pie"><span>P O S T</span></div>

        <div id="soundmusic"><img src="/images/index/music.png" /></div>
      </div>
    </div>

    <div id="chatmain" class="abp">
      <div id="commentCanvas" class="container" style="overflow-y:auto;">
        <div id="chatbox"></div>
        <div id="infobox"></div>
      </div>
    </div>

    <div id="chatmusic" style="display:none;"></div>

    <div id='private'></div>
  </div>

  <div id="info" style="display:none">{"roomId":"t47","userId":"10"}</div>
  <div id="user" style="display:none">{"id":"10","name":"bless","icon":"http://static.missevan.cn/mimages/201411/14/41ed513706d32907f991e7ba354cb174151442.png","iconColor":"#70A368m#D1E0D1m#70A368m#4D6F4Dm#70A368","subTitle":"\u685c","point":"622"}</div>

<%- include('../common/loginform.html'); -%>
  <script type="text/javascript" src="/assets/<%= resource.assets %>/jui/js/jquery-ui.min.js"></script>
  <script type="text/javascript">
    var chatSocketUrl = '<%= chatSocketUrl %>';
  </script>
  <script type="text/javascript" src="/js/chat/chatbox.js"></script>
  <script type="text/javascript" src="/js/chat/client.js"></script>
  <script type="text/javascript" src="/js/chat/chat.js"></script>
  <script type="text/javascript">
    $(function() {
      index.js.loadChat();
    });
  </script>
<%- include('../common/footer.html'); -%>
